<div class="row">
	{% if warning %?>
		<div class="alert alert-warning"><i class="fa fa-check-circle"></i> {% echo $warning; ?></div>
	{% endif %}
  
	<div class="social_login pull-right">
	{% if fbstatus %}
	<a class="socalicon"  href="{% echo $fblink; ?>">
	<img  class="img-responsive" src="{% echo $fbimage; ?>" data-toggle="tooltip" title="{% echo $fbtitle; ?>" alt="{% echo $fbtitle; ?>" title="{% echo $fbtitle; ?>">
	</a>
	{% endif %}


	{% if twitstatus %}
	<a class="socalicon"  href="{% echo $twitlink; ?>">
	<img  class="img-responsive" src="{% echo $twitimage; ?>" data-toggle="tooltip" title="{% echo $twittertitle; ?>" alt="{% echo $twittertitle; ?>" alt="{% echo $twittertitle; ?>" title="{% echo $twittertitle; ?>">
	</a>
	{% endif %}

	{% if $goglestatus %}
	<a class="socalicon"  href="{% echo $goglelink; ?>">
	<img  class="img-responsive" src="{% echo $gogleimage; ?>" data-toggle="tooltip" title="{% echo $googletitle; ?>" alt="{% echo $googletitle; ?>" alt="{% echo $googletitle; ?>" title="{% echo $googletitle; ?>">
	</a>
	{% endif %}
	
	{% if linkstatus %}
	<a class="socalicon"  href="{% echo $linkdinlink; ?>">
	<img  class="img-responsive" src="{% echo $linkdinimage; ?>" data-toggle="tooltip" title="{% echo $linkedintitle; ?>" alt="{% echo $linkedintitle; ?>" alt="{% echo $linkedintitle; ?>" title="{% echo $linkedintitle; ?>">
	</a>
	{% endif %}
	</div>
</div>

<style>
.social_login{}
.socalicon{margin-right:10px;margin-bottom:10px;float:right}
</style>