<div class="row">
	<?php if ($warning) { ?>
	<div class="alert alert-warning"><i class="fa fa-check-circle"></i> <?php echo $warning; ?></div>
	<?php } ?>
  
	<div class="social_login pull-right">
	<?php if($fbstatus){?>
	<a class="socalicon"  href="<?php echo $fblink; ?>">
	<img  class="img-responsive" src="<?php echo $fbimage; ?>" data-toggle="tooltip" title="<?php echo $fbtitle; ?>" alt="<?php echo $fbtitle; ?>" title="<?php echo $fbtitle; ?>">
	</a>
	<?php } ?>
	<?php if($twitstatus){?>
	<a class="socalicon"  href="<?php echo $twitlink; ?>">
	<img  class="img-responsive" src="<?php echo $twitimage; ?>" data-toggle="tooltip" title="<?php echo $twittertitle; ?>" alt="<?php echo $twittertitle; ?>" alt="<?php echo $twittertitle; ?>" title="<?php echo $twittertitle; ?>">
	</a>
	<?php } ?>
	<?php if($goglestatus){?>
	<a class="socalicon"  href="<?php echo $goglelink; ?>">
	<img  class="img-responsive" src="<?php echo $gogleimage; ?>" data-toggle="tooltip" title="<?php echo $googletitle; ?>" alt="<?php echo $googletitle; ?>" alt="<?php echo $googletitle; ?>" title="<?php echo $googletitle; ?>">
	</a>
	<?php } ?>
	<?php if($linkstatus){?>
	<a class="socalicon"  href="<?php echo $linkdinlink; ?>">
	<img  class="img-responsive" src="<?php echo $linkdinimage; ?>" data-toggle="tooltip" title="<?php echo $linkedintitle; ?>" alt="<?php echo $linkedintitle; ?>" alt="<?php echo $linkedintitle; ?>" title="<?php echo $linkedintitle; ?>">
	</a>
	<?php } ?>
	</div>
</div>

<style>
.social_login{}
.socalicon{margin-right:10px;margin-bottom:10px;float:right}
</style>